@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

$dimensions: 16 24 32 48 64 96 128 256;

@import "../node_modules/bulma/bulma";

.navi {
  margin-top: 1rem;
}

.is-pink {
  background-color: #f3c0da;
}

.is-grey {
  background-color: #dbdbdb;
}

.is-lite-grey {
  background-color: #fafafa;
}

.is-green {
  background-color: #aed88c;
}

.centre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  padding-bottom: 30%;
}

.slider img {
  width: 100%;
}

.wrapper {
  width: 1024px;
  margin: auto;
}

@media only screen and (max-width: 1024px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }
}

.is-player {
  cursor: pointer;
}

.is-player figure {
  opacity: 0.3;
}

.is-player:hover figure {
  opacity: 1;
  transition-delay: 0;
  transition-duration: 1s;
}

.expand {
  cursor: pointer;
}

.campaignExplain {
  padding-top: 2rem;
}